<%= form_with model: item, url: url do |f| %>
<table class="table table-borderless text-nowrap">
  <tr class="form-group align-middle">
    <th class="w-25"><%= f.label :item_image, "商品画像" %></th>
     <td><%= f.file_field :item_image, accept: "image/*", class: "form-control" %></td>
  </tr>
  <tr class="form-group align-middle">
    <th><%= f.label :name, "商品名" %></th>
    <td><%= f.text_field :name, autocomplete: "name", class: 'form-control w-100', placeholder: "商品名" %></td>
  </tr>
  <tr class="form-group">
    <th class="pt-3"><%= f.label :introduction, "商品説明"%></th>
    <td><%= f.text_area :introduction, class: 'form-control w-100', placeholder: "ここに説明文を記述します", rows: "5" %></td>
  </tr>
  <tr class="form-group align-middle">
    <th><%= f.label :genre_id, "ジャンル" %></th>
    <%#= f.select :genre_id, genres.map{ |genre| [genre.name, genre.id]}, {include_blank: '--選択してください--'}, {class: 'form-select'} %>
    <td><%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name, selected: @genre_selector), {include_blank: '--選択してください--'}, {class: 'form-select'} %></td>
  </tr>
  <tr class="form-group align-middle">
    <th><%= f.label :price, "税抜価格" %></th>
    <td><%= f.text_field :price, class: 'form-control w-100', placeholder: "1000" %></td>
    <td>円</td>
  </tr>
  <tr class="form-group align-middle text-nowrap">
    <th><%= f.label :is_active, "販売ステータス" %></th>
    <td>
      <div class="w-25 d-inline-block">
        <%= f.radio_button :is_active, :true %>
        <%= f.label :is_active, "販売中", value: :true %>
      </div>
      <div class="d-inline-block">
        <%= f.radio_button :is_active, :false %>
        <%= f.label :is_active, "販売停止中", value: :false %>
      </div>
    </td>
  </tr>
</table>
<div class="actions m-4 text-center">
  <%= f.submit submit, class: "btn btn-success" %>
</div>
<% end %>