<div class="item_list d-flex mx-auto justify-content-center">
  <% items.each do |item| %>
    <div class=" item_box<%= " discontinued" unless item.is_active %>">
      <a class="text-decoration-none text-dark"<%= " href=#{item_path(item.id)}" if item.is_active %>>
        <div class="card">
          <%= image_tag item.get_item_image, height: "200" %>
          <div class="card-body">
            <p class="card-title font-weight-bold"><%= item.name %></p>
            <p class="card-text<%= " text-danger" unless item.is_active %>">
              <%= item.is_active ? price_taxin(item.price) : "販売停止中" %>
            </p>
          </div>
        </div>
      </a>
    </div>
  <% end %>
    <div class="item_box_space"></div>
    <div class="item_box_space"></div>
    <div class="item_box_space"></div>
</div>