<% content_for :title, @item.name %>
<%= render "public/homes/sidebar" %>
<div class="d-flex p-3 col-9">
	<%= image_tag @item.get_item_image, class: "show_item_image" %>
	<div class="show_item_detail offset-1 col-6">
		<h2><%= @item.name %></h2>
		<p><%= @item.introduction %></p>
		<p class="mt-3">
			<span class="h4"><%= price_taxin(@item.price) %></span>
			<span>（税込）</span>
		</p>
		<% if customer_signed_in? %>
			<%= form_with model: @cart_item, url: cart_items_path, class: "add_to_cart mt-5 d-flex" do |f| %>
				<%= f.select :amount, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], {}, class: "form-select w-50 me-3" %>
				<%= f.hidden_field :item_id, value: @item.id %>
				<%= f.submit "カートに入れる", class: "btn btn-success" %>
			<% end %>
		<% else %>
			<p class="m-5 p-2 border border-warning text-center">購入するにはログインしてください。</p>
		<% end %>
	</div>
</div>